/*GLOBAL CSS*/

html {
  width: 1445px;
  height: 1885px;
  font-family: "Raleway", sans-serif;
  margin: 6px;
  padding: 6px;
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 13px;
  font-weight: bold;
}

/*HEADDER*/

nav {
  min-height: 2px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

nav li {
  color: #0065fc;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #0065fc;
}

/*MAIN*/

.searchbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 27%;
  border: 1px #f2f2f2 solid;
  border-radius: 19px;
}

.searchbar i {
  background-color: red;
}

.searchbar p {
}

.rechercher {
  background-color: transparent
  height: 100%;
}


.Hébergementcase {
  background-color: #f2f2f2;
  width: 865px;
  height: 623px;
}

/*FOOTER*/
